---
import Layout from '../../layouts/Layout.astro';
import HeroSection from '../../components/HeroSection.astro';
---

<Layout title="Our Appreciation - Better Conversations Foundation">
  <HeroSection 
    title="Our Appreciation"
    titleHighlight="Appreciation"
    description="Recognizing the many people who have made significant contributions to our mission."
  />
  
  <section>
    <div class="container max-w-5xl mx-auto px-6 sm:px-8 lg:px-8 relative">
      <div class="text-center mb-12">
        <div class="text-lg text-gray-700 space-y-4 mb-16">
          <p>
            In this era of AI, we are reminded that there is much learning and wisdom to be gained from talking to each other.
          </p>
          <p>
            This has been a multi-year project involving many people.
            We would like to particularly thank the following who have made significant contributions to the course content, 
            and/or the overall project (listed in alphabetical order):
          </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-12 text-center">
        <a href="https://www.linkedin.com/in/allison-coles-96a30a10/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Allison Coles</a>
        <a href="https://www.linkedin.com/in/amandagreenwoodcoach/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Amanda Greenwood</a>
        <a href="https://www.linkedin.com/in/alex-coles-ba10b0246/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Alex Coles</a>
        <a href="https://www.linkedin.com/in/joshua-coles-a79498151/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Joshua Coles</a>
        <a href="https://www.linkedin.com/in/sjcoles/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Simon Coles</a>
        <a href="https://www.linkedin.com/in/lyndsay-conklin-00670b290/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Lyndsay Conklin</a>
        <a href="https://www.linkedin.com/in/mathew-cooke-0b039022/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Mathew Cooke</a>
        <a href="https://www.linkedin.com/in/catherinedaley/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Catherine Daley</a>
        <a href="https://www.linkedin.com/in/chandimadutton/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Chandima Dutton</a>
        <a href="https://www.linkedin.com/in/mikethomashaber/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Mike Haber</a>
        <a href="https://www.linkedin.com/in/johannahagen97/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Johanna Hagen</a>
        <a href="https://www.linkedin.com/in/emma-humphrey-brand-marketing-founder-speaker/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Emma Humphrey</a>
        <a href="https://www.linkedin.com/in/shaun-hotchkiss-906bba1b6/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Shaun Hotchkiss</a>
        <a href="https://www.linkedin.com/in/bethhughes1/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Beth Hughes</a>
        <a href="https://www.linkedin.com/in/nkosi-khumalo-0b039022/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Nkosi Khumalo</a>
        <a href="https://www.linkedin.com/in/jameslawley/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">James Lawley</a>
        <a href="https://www.linkedin.com/in/christianmejerknudsen/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Christian Mejer Knudsen</a>
        <a href="https://www.linkedin.com/in/kyoko-kusama-7285273a/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Kyoko Kusama</a>
        <a href="https://www.linkedin.com/in/jackie-lawlor/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Jackie Lawlor</a>
        <a href="https://www.linkedin.com/in/sara-amina-mbegu-05ba7a24b/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Sara-Amina Mbegu</a>
        <a href="https://www.linkedin.com/in/steve-mccann-playing-tetris-with-the-universe/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Steve McCann</a>
        <a href="https://www.linkedin.com/in/virginia-mckendry-ph-d-3465b51b/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Dr Virginia McKendry</a>
        <a href="https://www.linkedin.com/in/matt-michaelsen/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Matthew Michaelsen</a>
        <a href="https://www.linkedin.com/in/robynodegaard/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Dr Robyn Odegaard</a>
        <a href="https://www.linkedin.com/in/michaeloskam/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Michael Oskam</a>
        <a href="https://www.linkedin.com/in/danielparsons2/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Dan Parsons</a>
        <a href="https://www.linkedin.com/in/shivani-patel-8b52b5223/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Shivani Patel</a>
        <span class="text-gray-700">Christine Pavlina</span>
        <a href="https://www.linkedin.com/in/kevin-pearcey-582209/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Kevin Pearcey</a>
        <a href="https://www.linkedin.com/in/sarahscarratt2020/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Sarah Scarratt</a>
        <span class="text-gray-700">Hester Sher</span>
        <a href="https://www.linkedin.com/in/christine-stief-hausch-669965ab/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Christine Stief</a>
        <a href="https://www.linkedin.com/in/jacqueline-ann-surin/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Jacqueline Ann Surin</a>
        <a href="https://www.linkedin.com/in/judyrees/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Judy Rees</a>
        <span class="text-gray-700">Penny Tompkins</span>
        <a href="https://www.linkedin.com/in/dr-caitlin-walker-6a11a8b/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Dr Caitlin Walker</a>
        <a href="https://www.linkedin.com/in/cheryl-winter-40044719/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">Cheryl Winter</a>
      </div>
    </div>
  </section>

  <!-- Acknowledgment Section -->
  <section class="bg-gray-50 relative overflow-hidden">
    <div class="max-w-5xl mx-auto px-6 sm:px-8 lg:px-8 relative">
      <div class="text-center">
        <div class="text-lg text-gray-700 space-y-4">
          <p>
            Some of the authors and researchers that have influenced us through their written work are documented in our 
            <a href="https://betterconversations.foundation/l/handbook" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">course handbook</a>. We continually revise and update this content as we learn more about the topic.
          </p>
          <p>
            We would especially like to acknowledge the work of the 
            <a href="https://cleanlanguage.com/obituary-of-david-grove-1950-2008/" class="text-gray-700 hover:text-[#54C4B6] transition-colors underline">late David Grove</a>, 
            developer of Clean Language and Emergent Knowledge. He made it clear that his work was open source; 
            he did not impose any restrictions of copyright or trademark.
          </p>
          <p class="text-[#54C4B6] font-semibold text-xl">
            We hope that this project contributes in a small way to the spirit of openness and collective learning that makes us all better humans.
          </p>
        </div>
      </div>
    </div>
  </section>

</Layout>